.App {
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px #ff0000;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.home{  
  float: left;
  margin: 0 2% 0 2%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.photos{
  display: inline-block
}

.hero{
  display: flex;
  flex-wrap: wrap;
}

.newHero{
  color: black;
  /* width: 35%; */
  margin: 2%;
  border: 5%;
  border-color: black;
  box-shadow: 0 0 3px #ccc;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-title{
  background-color: black;
  color: white;
}

.footer{
  background-color: black;
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
